.page-content {
  position: relative;
}

.logo-box {
  &__img {
    width: 100%;
    object-fit: contain;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-left: 39px;
  }

  @media (max-width: 924px) {
    &__text {
      font-size: 13px;
      line-height: 17px;
      margin-left: 30px;
    }
  }

  @media (max-width: 768px) {
    &__img {
      width: 75px;
      height: 25px;
    }

    &__text {
      font-size: 9px;
      line-height: 12px;
      margin-left: 0;
    }
  }
}

.media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 248px;
  left: -13px;
  z-index: 4;

  &__text {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    transform: rotate(-90deg);
    margin-top: 60px;
  }

  @media (max-width: 1024px) {
    bottom: 82px;
    left: -25px;
  }
}

.media-link {
  display: block;
  margin-top: 10px;
  transition: transform 0.3s;

  &:hover,
  &:focus {
    transform: translate(0, -5px);
  }
}

.flx {
  display: flex;
  align-content: stretch;

  &__col {
    width: 50%;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    &__col {
      width: 100%;
    }
  }
}

.title-box {
  font-weight: 800;
  font-size: 32px;
  letter-spacing: 0.5px;

  @media (max-width: 768px) {
    font-size: 25px;
  }
}

.line {
  width: 213px;
  height: 24px;
  background-color: #f4aa83;
  border-radius: 30px;
  box-shadow: 0 10px 19px -7px #be734f;
}

.text-box {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  @media (max-width: 1366px) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (max-width: 768px) {
    font-size: 13px;
    line-height: 17px;
  }
}

.menu-burger {
  position: absolute;
  top: 10px;
  right: 16px;
  display: none;
  width: 24px;
  height: 24px;
  background: url("/images/icons/burger.svg") no-repeat center;
  border: none;
  cursor: pointer;
  z-index: 12;
}

.menu-close {
  margin: 50px 0 10px;
  display: none;
  width: 14px;
  height: 14px;
  background: url("/images/icons/close.svg") no-repeat center;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-burger,
  .menu-close {
    display: block;
  }
}
